:root {box-sizing: border-box;}

body {
    background-color: rgb(71, 157, 233);
}

.words {
    margin: auto;
    width: 37.438em;
    text-align: center;
    font-size: 1.563em;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

#message2 {
    height: 35px;
}

#wrapper {
    display: block;
    position: relative;
}

#board_wrapper {
    display: flex;
    box-sizing: border-box;
    margin: auto;
}

#board {
    display: inline-flex;
    flex: 0 0 606px;
    background-color: rgb(29, 99, 231);
    height: 29.188em;
    border: 0.063em solid black;
    margin: 1.250em auto;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    height: 29.125em;
    flex: 0 0 82px;
    padding: 0.063em;
    margin-right: 0.313em;
    border: 0.063em dashed black;
    box-sizing: border-box;
}

.disc {
    height: 4.688em;
    width: 4.688em;
    margin: 0.063em;
    border-radius: 50%;
}

.red {
    background: url('../src/reddisc.png') red;
    background-size: 4.688em 4.688em;
}

.yellow {
    background: url('../src/yellowdisc.png') yellow;
    background-size: 4.688em 4.688em;
}

#color_choice {
    position: relative;
    left: 1270px;
    bottom: 600px;
}

#reset {
    position: relative;
    left: 1270px;
    bottom: 300px;
    height: 2em;
}

.button {
    width: 4.688em;
    background-color: rgb(226, 226, 226);
    border-radius: 0.625em;
    border: 0.063em solid black;
    font-weight: bold;
    text-align: center;
}
.button:hover {
    background-color: rgb(209, 209, 209);
}


